<div class="header">
	<div class="navigation">
		<a class="site_logo" href="index.php">League of BRUH</a>
		<a href="champion_list.php" class="navigation_link">Champion list</a>
		{% if account_name %}
			<a href="log_out.php" class="navigation_link">Log Out</a>
		{% else %}
			<a href="sign_in_page.php" class="navigation_link">Log In</a>
		{% endif %}
	</div>
	{% if account_name %}
		<a class="login_href" href="account.php"><div class="account_icon" style="background-image: url('avatars/{{account_name}}.jpg')"></div></a>
	{% endif %}	
</div>