.empty_header {
    background-color: #111111;
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 25px;
    height: 75px;
    display: grid;
    grid-template-columns: repeat(15,1fr);
}

.navigation {
    margin: auto auto 19px;
    grid-column-start: 2;
    grid-column-end: 15;
}

.site_logo {
    text-decoration: none;
    padding-right: 30px;
    color: #FFCC66;
}

.logo:hover, .logo:active, .logo:focus {
    color: #F9F9F9;
}

.sign_in{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto 20px;
    height: calc(100vh - 169px);
}

.work_section{
    grid-column: 2;
    margin: auto;
    padding-bottom: 10vh;
}

.text_section{
    margin: 20px;
    border: 3px solid #FFCC66;
    border-radius: 1%;
    height: 50px;
}

.text_input{
    margin-left: 10px;
    height: 100%;
    font-size: 20px;
    border: none;
    outline: none;
}

.sign_in_button{
    margin: 0 20px 20px;
    width: calc(100% - 40px);
    border: 3px solid #FFCC66;
    border-radius: 1%;
    height: 50px;
    background-color: #FFCC66;
    font-size: 20px;
    cursor: pointer;
    color: #111111;
    outline: none;
}

.sign_in_button:hover, .sign_in_button:active, .sign_in_button:focus {
    color: #F9F9F9;
}

.logo_section{
    margin: auto;
    text-align: center;
    font-size: 50px;
    color: #FFCC66;
    font-weight: bold;
}